:root {
    --correct-color: #77dd77;
    --wrong-color: #FD6861;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;

}


.theme1 {
    --primary-color: rgb(253, 178, 89);
    --secondary-color: rgb(230, 172, 96);
    --highlight-background-color: rgb(248, 243, 199);
    --background-color: #fff;
    --text-color: #333;
}

.theme2 {
    --primary-color: rgb(63, 207, 152);
    --secondary-color: rgb(81, 246, 152);
    --highlight-background-color: rgb(245, 255, 250);
    --background-color: #fff;
    --text-color: #333;
}

.theme2 {
    background-color: var(--highlight-background-color);
    color: var(--text-color);
}

select {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

select option {
    font-size: 16px;
    padding: 8px 12px;
    background-color: #fff;
    color: #333;
}

select option:hover {
    background-color: #66afe9;
    color: #fff;
}

#main-container {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.question {
    font-weight: bold;
    font-size: 18px;
    color: rgb(253, 178, 89);
}

.theme2 .question {
    color: var(--primary-color);
}

.answers label {
    display: block;
    font-size: 16px;
    max-width: 500px;
    padding: 5px;
    margin: 5px;
}

.correct {
    color: #fff;
    background-color: var(--correct-color);
}

.correct::after {
    content: '\2714';
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

.incorrect {
    color: #fff;
    background-color: var(--wrong-color);
}

.incorrect::after {
    content: '\2718';
    color: red;
    margin-left: 10px;
    font-weight: bold;
}


.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    background-color: rgb(253, 178, 89);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.buttons button:hover {
    background-color: rgb(230, 172, 96);
}

.buttons button:hover {
    transform: translateY(-5%);
}

.theme2 .question {
    color: var(--primary-color);
}

.theme2 .buttons button {
    background-color: var(--primary-color);
}

.theme2 .buttons button:hover {
    background-color: var(--secondary-color);
}